$font-family: 'Roboto', sans-serif;

$heading-color: #101820ff;

$text-color: #57595c;

$primary-color: #f2aa4cff;

$bg-default: #101820ff;

$bg-gray: #f5f7f9;

$bg-red: #ff0000;

$color-white: #ffffff;
